.teamCard {
  width: 350px;
  height: 510px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  p {
    color: #808080;
  }
  .role {
    color: #cccccc;
  }

  img {
    width: 260px;
    height: 260px;
    object-fit: contain;
  }
  line-height: 28px;
  .social {
    display: flex;
    gap: 15px;
    .icn {
      width: 30px;
      height: 30px;
      background-color: #777777;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border-radius: 50%;
      font-size: 10px;
    }
  }
}
